@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  font-family: "Roboto";
}

.container {
  margin: 0 auto;
  max-width: 1280px;
}
.header__logo {
  font-size: 80px;
  line-height: 1.2;
  color: #000000;
  margin-top: 63px;
  margin-bottom: 40px;
  display: block;
}
.header__logo span {
  color: #4bcaff;
}
.header {
  margin-bottom: 49px;
}
.header_list {
  display: flex;
  justify-content: center;
  text-align: center;
  background: #35444f;
}

.header__link {
  display: inline-block;
  font-size: 24px;
  line-height: 1.2;
  color: #ffffff;
  border-left: 1px solid #ffffff;
  padding: 24px 35px;
}
.header__linklast {
  display: inline-block;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  border-left: 1px solid #ffffff;
  padding: 24px 35px;
  border-right: 1px solid #ffffff;
}
.header__link:hover {
  background: #222f3a;
}
.header__linklast:hover {
  background: #222f3a;
}

.main__section {
  display: flex;
  justify-content: space-between;
}
.menu {
  width: 344px;
  background: rgba(0, 0, 0, 0.0001);
}
.menu__list {
  display: flex;
  flex-direction: column;
  border: 1px solid #000000;
}

.menu__list_item {
  padding: 26px 44px;
  font-size: 27px;
  line-height: 1;
  color: #495863;
  transition: 0.7s;
}
.menu__list_item:hover {
  background: #dbdbdb;
  color: #000000;
  padding-left: 90px;
}
.content {
  width: 885px;
}
.photo {
  text-align: center;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #000000;
  padding: 75px;
  margin-bottom: 37px;
}
.ram {
  width: 320px;
  transition: 1s;
}
.ram:hover {
  transform: scale(1.2);
}
.content__text_one {
  font-size: 18px;
  line-height: 1.3;
  color: #2c2c2c;
  margin-bottom: 34px;
}
.content__text_two {
  font-size: 18px;
  line-height: 1.3;
  color: #2c2c2c;
}
.footer__ramda {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(99, 105, 110, 0.48);
  margin-bottom: 30px;
}
.footer__ramda_list {
  font-size: 28px;
  display: flex;
  color: #0c1927;
  padding: 20px 40px;
  gap: 40px;
}
.footer__ramda_copyright {
  font-size: 24px;
  color: #010101;
  padding-right: 40px;
}

.footer__ramda_link {
  transition: 0, 5s;
}
.footer__ramda_link:hover {
  color: #3181a6;
  text-decoration: underline;
}
.footer__ramda_copyright {
  font-size: 24px;
  color: #010101;
}
